<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.google.dart.tools.debug.ui.launch.RunPropertyTester"
            id="com.google.dart.tools.debug.ui.run.propertyTester"
            namespace="com.google.dart.tools.debug.ui.launch"
            properties="canLaunch"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
      <propertyTester
            class="com.google.dart.tools.debug.ui.launch.RunInBrowserPropertyTester"
            id="com.google.dart.tools.debug.ui.run.browserPropertyTester"
            namespace="com.google.dart.tools.debug.ui.launch"
            properties="canLaunchBrowser"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="com.google.dart.tools.debug.dartPropertyTester"
         namespace="com.google.dart.tools.debug"
         properties="isDartProject"
         type="org.eclipse.core.runtime.IAdaptable"
         class="com.google.dart.tools.debug.ui.internal.util.DartPropertyTester">
      </propertyTester>
      <propertyTester
         id="com.google.dart.tools.debug.dartPropertyTester"
         namespace="com.google.dart.tools.debug"
         properties="isInDartProject"
         type="org.eclipse.core.runtime.IAdaptable"
         class="com.google.dart.tools.debug.ui.internal.util.DartPropertyTester">
      </propertyTester>
   </extension>
   
   <!-- Dartium launch configuration -->

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.dart.tools.debug.core.dartiumLaunchConfig"
            icon="icons/chromium_16.png"
            id="com.google.dart.tools.debug.core.chromeLaunchConfigImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.dart.tools.debug.ui.internal.dartium.DartiumTabGroup"
            id="com.google.dart.tools.debug.core.chromeLaunchConfigTabGroup"
            type="com.google.dart.tools.debug.core.dartiumLaunchConfig">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.google.dart.tools.debug.ui.internal.dartium.DartiumLaunchShortcut"
            icon="icons/chromium_16.png"
            id="com.google.dart.tools.debug.ui.dartChromeShortcut"
            label="%dart.dartiumlaunch.shortcut.label"
            modes="run,debug">
         <configurationType
               id="com.google.dart.tools.debug.core.dartiumLaunchConfig">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <and>
                              <test property="com.google.dart.tools.debug.isInDartProject"/>
                              <or>
                                 <test property="org.eclipse.core.resources.extension" value="html"/>
                                 <test property="org.eclipse.core.resources.extension" value="dart"/>
                              </or>
                           </and>
                           <test property="com.google.dart.tools.debug.isDartProject"/>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
   <!-- Browser launch configuration -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.dart.tools.debug.ui.internal.browser.BrowserLaunchConfigurationDelegate"
            id="com.google.dart.tools.debug.core.browserLaunchConfig"
            modes="run"
            name="%dart.launch.config.client.name">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.dart.tools.debug.core.browserLaunchConfig"
            icon="icons/obj16/globe_dark.png"
            id="com.google.dart.tools.debug.core.browserLaunchConfigImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.dart.tools.debug.ui.internal.browser.BrowserLaunchConfigurationTabGroup"
            id="com.google.dart.tools.debug.core.browserLaunchConfigTabGroup"
            type="com.google.dart.tools.debug.core.browserLaunchConfig">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.google.dart.tools.debug.ui.internal.browser.BrowserLaunchShortcut"
            icon="icons/obj16/globe_dark.png"
            id="com.google.dart.tools.debug.ui.dartBrowserShortcut"
            label="%dart.clientlaunch.shortcut.label"
            modes="run">
         <configurationType
               id="com.google.dart.tools.debug.core.browserLaunchConfig">
         </configurationType>
          <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <and>
                              <test property="com.google.dart.tools.debug.isInDartProject"/>
                              <or>
                                 <test property="org.eclipse.core.resources.extension" value="html"/>
                                 <test property="org.eclipse.core.resources.extension" value="dart"/>
                              </or>
                           </and>
                           <test property="com.google.dart.tools.debug.isDartProject"/>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
       
   <!-- Server launch configuration -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.dart.tools.debug.core.serverLaunchConfig"
            icon="icons/obj16/osprc_obj.png"
            id="com.google.dart.tools.debug.core.serverLaunchConfigTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.dart.tools.debug.ui.internal.server.DartServerTabGroup"
            id="com.google.dart.tools.debug.core.serverLaunchConfigTabGroup"
            type="com.google.dart.tools.debug.core.serverLaunchConfig">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.google.dart.tools.debug.ui.internal.server.DartServerLaunchShortcut"
            id="com.google.dart.tools.debug.ui.serverLaunchShortcut"
            label="%dart.serverlaunch.shortcut.label"
            icon="icons/obj16/osprc_obj.png"
            modes="run,debug">
         <configurationType
               id="com.google.dart.tools.debug.core.serverLaunchConfig">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <and>
                              <test property="com.google.dart.tools.debug.isInDartProject"/>
                              <test property="org.eclipse.core.resources.extension" value="dart"/>
                           </and>
                           <test property="com.google.dart.tools.debug.isDartProject"/>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
   <!-- breakpoints -->

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="com.google.dart.tools.debug.ui.internal.breakpoints.DartBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="com.google.dart.tools.ui.text.editor.CompilationUnitEditor"
            id="com.google.dart.tools.debug.ui.breakpointActions">
         <action
               label="%toggleBreakpoints.label"
               class="com.google.dart.tools.debug.ui.internal.breakpoints.DartToggleBreakpointDelegate"
               actionID="RulerDoubleClick"
               id="com.google.dart.tools.debug.breakpointActions.toggle">
         </action>
      </editorContribution>
      <editorContribution
            targetID="com.google.dart.tools.ui.web.html.HtmlEditor"
            id="com.google.dart.tools.debug.ui.breakpointActions.html">
         <action
               label="%toggleBreakpoints.label"
               class="com.google.dart.tools.debug.ui.internal.breakpoints.DartToggleBreakpointDelegate"
               actionID="RulerDoubleClick"
               id="com.google.dart.tools.debug.breakpointActions.toggle.html">
         </action>
      </editorContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#DartRulerContext"
            id="com.google.dart.tools.debug.ui.CompilationUnitRulerPopupActions">
         <action
               label="%enableBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="com.google.dart.tools.debug.breakpointActions.menuEnableDisable">
         </action>
         <action
               class="com.google.dart.tools.debug.ui.internal.breakpoints.DartToggleBreakpointDelegate"
               icon="icons/obj16/brkp_obj.gif"
               id="com.google.dart.tools.debug.breakpointActions.menuToggle"
               label="%toggleBreakpoints.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>

   <!-- debug model presentation -->

   <extension point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
         class="com.google.dart.tools.debug.ui.internal.presentation.DartDebugModelPresentation"
         id="com.google.dart.tools.debug.core">
      </debugModelPresentation>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.google.dart.tools.core.model.DartElement"
            class="com.google.dart.tools.debug.ui.launch.ActionFilterAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>

   <extension
      point="org.eclipse.ui.commands">
       <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.launch.DartRunHandler"
            description="Run selection"
            id="com.google.dart.tools.debug.ui.run.selection"
            name="%runCommandName">
      </command>
       <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.launch.RunInDartiumHandler"
            description="Run in Dartium"
            id="com.google.dart.tools.debug.ui.run.dartium"
            name="%runDartiumName">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.launch.RunInBrowserHandler"
            description="Run as JavaScript"
            id="com.google.dart.tools.debug.ui.run.browser"
            name="%runBrowserName">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.launch.ManageLaunchesHandler"
            description="%launchDialogCommandName"
            id="com.google.dart.tools.debug.ui.launchDialog"
            name="%launchDialogCommandName">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.internal.util.ShowWebConsoleHandler"
            description="Show Web Server Address"
            id="com.google.dart.tools.debug.ui.showWebConsole"
            name="Show Web Server Address">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.internal.view.RemoveAllBreakpointsHandler"
            description="%removeBreakpointsCommandName"
            id="com.google.dart.tools.debug.ui.removeBreakpoints"
            name="%removeBreakpointsCommandName">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.debug.ui.launch.ToggleBreakOnExceptionsHandler"
            description="%toggleBreakOnExceptionsName"
            id="com.google.dart.tools.debug.ui.toggleBreakOnExceptions"
            name="%toggleBreakOnExceptionsName">
            <state class="org.eclipse.jface.commands.ToggleState" id="STYLE"/>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.google.dart.tools.ui.FileExplorer?after=additions">
         <command
               commandId="com.google.dart.tools.debug.ui.run.selection"
               icon="icons/obj16/run_exc.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <and>
                        <test
                              forcePluginActivation="true"
                              property="com.google.dart.tools.debug.ui.launch.canLaunch">
                        </test>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.google.dart.tools.ui.FileExplorer?after=additions">
         <command
               commandId="com.google.dart.tools.debug.ui.run.dartium"
               icon="icons/obj16/run_exc.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <and>
                        <test
                              forcePluginActivation="true"
                              property="com.google.dart.tools.debug.ui.launch.canLaunchBrowser">
                        </test>
                  </and>
               </with>
            </visibleWhen>
         </command>
        
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.google.dart.tools.ui.FileExplorer?after=additions">
         <command
               commandId="com.google.dart.tools.debug.ui.run.browser"
               icon="icons/obj16/run_exc.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <and>
                        <test
                              forcePluginActivation="true"
                              property="com.google.dart.tools.debug.ui.launch.canLaunchBrowser">
                        </test>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.google.dart.tools.ui.DartPerspective">
         <actionSet id="org.eclipse.debug.ui.debugActionSet"/>
         <actionSet id="com.google.dart.tools.debug.ui.breakpointActionSet"/>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%BreakpointActionSet.label"
            visible="false"
            id="com.google.dart.tools.debug.ui.breakpointActionSet">
         <action
               definitionId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
               label="%ToggleBreakpointAction.label"
               icon="icons/obj16/brkp_obj.gif"
               class="com.google.dart.tools.debug.ui.internal.breakpoints.RetargetToggleBreakpointAction"
               menubarPath="org.eclipse.ui.run/runGroup"
               id="org.eclipse.debug.ui.actions.ToggleBreakpoint">
         </action>         
      </actionSet>
   </extension>

   <!-- extension point="org.eclipse.ui.popupMenus"> 
      <viewerContribution 
         id="com.google.dart.tools.debug.ui.breakpointActionSet.popup"
         targetID="#DartEditorContext"> 
         <action
            id="com.google.dart.tools.debug.ui.breakpointActionSet.popup.1" 
            label="%ToggleBreakpointAction.label"
            icon="icons/obj16/brkp_obj.gif"
            menubarPath="additions" 
            class="com.google.dart.tools.debug.ui.internal.breakpoints.DartBreakpointContextMenuDelegate"> 
         </action> 
      </viewerContribution> 
   </extension -->

   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="F5"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.eclipse.debug.ui.commands.StepInto"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            sequence="F6"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.eclipse.debug.ui.commands.StepOver"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            sequence="F7"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.eclipse.debug.ui.commands.StepReturn"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
       <key
            sequence="F8"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.eclipse.debug.ui.commands.Resume"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
       <key
            sequence="M1+F2"
            contextId="org.eclipse.debug.ui.debugging"
            commandId="org.eclipse.debug.ui.commands.Terminate"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>            
      <key
            sequence="M1+M2+B"
            
            commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
       <!-- key
            commandId="org.eclipse.debug.ui.commands.eof"
            contextId="org.eclipse.debug.ui.console"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="CTRL+D"/>
      <key
            contextId="org.eclipse.debug.ui.console"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="CTRL+D"
            platform="win32"/>
      <key
            commandId="org.eclipse.debug.ui.commands.eof"
            contextId="org.eclipse.debug.ui.console"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="CTRL+Z"
            platform="win32"/ -->                                
    </extension>
    
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="com.google.dart.tools.debug.ui.launch.LaunchesDeleteResourceParticipant"
            id="com.google.dart.tools.debug.ui.launch.DeleteResourceParticipant"
            name="Remove Dart launches">
            <enablement>
              <with variable="affectedNatures">
                <iterate operator="or">
                  <equals value="com.google.dart.tools.core.dartNature"/>
                </iterate>
              </with>
            </enablement>
      </deleteParticipant>
   </extension>
    
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.google.dart.tools.debug.ui.launch.LaunchesRenameResourceParticipant"
            id="com.google.dart.tools.debug.ui.launch.LaunchesRenameResourceParticipant"
            name="Update HTML file in Dart launches">
            <enablement>
              <with variable="affectedNatures">
                <iterate operator="or">
                  <equals value="com.google.dart.tools.core.dartNature"/>
                </iterate>
              </with>
            </enablement>
      </renameParticipant>
   </extension>
   
   <extension
         point="com.google.dart.tools.debug.core.debugUIHelper">
      <helper
            class="com.google.dart.tools.debug.ui.internal.DefaultDebugUIHelper">
      </helper>
   </extension>

   <!-- exception on breakpoint annotation -->
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.debug.ui.currentIPEx">
      </type>
   </extension>   
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            icon="icons/obj16/inst_ptr_exception.png"
            annotationType="org.eclipse.debug.ui.currentIPEx"
            colorPreferenceKey="currentIPColorEx"
            colorPreferenceValue="255,150,150"
            highlightPreferenceKey="currentIPHighlight"
            highlightPreferenceValue="true"
            label="Debug Current Instruction Pointer"
            overviewRulerPreferenceKey="currentIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="currentIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="currentIPVerticalRuler"
            verticalRulerPreferenceValue="true"
            textStylePreferenceKey="currentIPTextStyle"
            textStylePreferenceValue="NONE"
            includeOnPreferencePage="false">
      </specification>
   </extension>

   <!-- debugger variables object contributions -->
   
   <!-- extension point="org.eclipse.ui.popupMenus">
      <objectContribution
         id="com.google.dart.tools.debug.ui.openServerDeclarationContribution"
         objectClass="com.google.dart.tools.debug.core.server.ServerDebugVariable">
         <action
            id="com.google.dart.tools.debug.ui.openServerDeclarationAction"
            label="Open Declaration"
            menubarPath="additions"
            class="com.google.dart.tools.debug.ui.internal.util.OpenServerVariableDeclaration"
            enablesFor="1">
         </action>
      </objectContribution>
      
      <objectContribution
         id="com.google.dart.tools.debug.ui.openDartiumDeclarationContribution"
         objectClass="com.google.dart.tools.debug.core.dartium.DartiumDebugVariable">
         <action
            id="com.google.dart.tools.debug.ui.openDartiumDeclarationAction"
            label="Open Declaration"
            menubarPath="additions"
            class="com.google.dart.tools.debug.ui.internal.util.OpenDartiumVariableDeclaration"
            enablesFor="1">
         </action>
      </objectContribution>
   </extension -->

   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="com.google.dart.tools.debug.expressionsView"
            id="org.eclipse.debug.ui.expressionsView.toolbar">
         <action
               id="org.eclipse.debug.ui.expresssionsView.toolbar.removeAll"
               toolbarPath="expressionGroup"
               hoverIcon="$nl$/icons/full/elcl16/rem_all_co.gif"
               class="org.eclipse.debug.internal.ui.actions.expressions.RemoveAllExpressionsAction"
               disabledIcon="$nl$/icons/full/dlcl16/rem_all_co.gif"
               icon="$nl$/icons/full/elcl16/rem_all_co.gif"
               helpContextId="remove_all_expressions_action_context"
               label="%RemoveAllAction.label"
               tooltip="%RemoveAllExpressionsAction.tooltip">
         </action>
         <action
               id="org.eclipse.debug.ui.expresssionsView.toolbar.remove"
               toolbarPath="expressionGroup"
               hoverIcon="$nl$/icons/full/elcl16/rem_co.gif"
               class="org.eclipse.debug.internal.ui.actions.expressions.RemoveExpressionAction"
               disabledIcon="$nl$/icons/full/dlcl16/rem_co.gif"
               icon="$nl$/icons/full/elcl16/rem_co.gif"
               helpContextId="remove_expression_action_context"
               label="%RemoveAction.label"
               tooltip="%RemoveExpressionAction.tooltip">
            <selection
                  class="org.eclipse.debug.core.model.IExpression">
            </selection>
            <selection
                  class="org.eclipse.debug.core.model.IVariable">
            </selection>
         </action>
      </viewContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="com.google.dart.tools.debug.expressionsView"
            id="org.eclipse.debug.ui.WatchExpressionActions">
         <action
               label="%editWatchExpressionAction.label"
               helpContextId="edit_watch_expression_context"
               class="org.eclipse.debug.internal.ui.actions.expressions.EditWatchExpressionAction"
               tooltip="%editWatchExpressionAction.tooltip"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.debug.ui.watchExpressionActions.EditWatchExpression">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="com.google.dart.tools.debug.expressionsView"
            id="org.eclipse.debug.ui.WatchExpressionActions">
         <action
               label="%enableWatchExpressionAction.label"
               helpContextId="enable_watch_expression_context"
               class="org.eclipse.debug.internal.ui.actions.expressions.EnableWatchExpressionAction"
               tooltip="%enableWatchExpressionAction.tooltip"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.debug.ui.watchExpressionActions.EnableWatchExpression">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="com.google.dart.tools.debug.expressionsView"
            id="org.eclipse.debug.ui.WatchExpressionActions">
         <action
               label="%disableWatchExpressionAction.label"
               helpContextId="disable_watch_expression_context"
               class="org.eclipse.debug.internal.ui.actions.expressions.DisableWatchExpressionAction"
               tooltip="%disableWatchExpressionAction.tooltip"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.debug.ui.watchExpressionActions.DisableWatchExpression">
         </action>
      </viewerContribution>

      <!-- Contributions to Expression View Popup Menu -->
      <viewerContribution
            targetID="com.google.dart.tools.debug.expressionsView"
            id="org.eclipse.debug.ui.expressionView.popupMenu">
         <!-- Expression Group -->
         <action
               label="%RemoveAllAction.label"
               icon="$nl$/icons/full/elcl16/rem_all_co.gif"
               helpContextId="remove_all_expressions_action_context"
               class="org.eclipse.debug.internal.ui.actions.expressions.RemoveAllExpressionsAction"
               menubarPath="expressionGroup"
               id="org.eclipse.debug.ui.debugview.popupMenu.removeAllExpressionsAction">
         </action>
         <action
               label="%RemoveAction.label"
               icon="$nl$/icons/full/elcl16/rem_co.gif"
               helpContextId="remove_expression_action_context"
               class="org.eclipse.debug.internal.ui.actions.expressions.RemoveExpressionAction"
               menubarPath="expressionGroup"
               id="org.eclipse.debug.ui.debugview.popupMenu.removeExpressionAction">
            <selection
                  class="org.eclipse.debug.core.model.IExpression">
            </selection>
            <selection
                  class="org.eclipse.debug.core.model.IVariable">
            </selection>
         </action>
      </viewerContribution>
   </extension>
      
</plugin>
