<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.google.dart.eclipse.wizards.projects"
            name="Dart">
      </category>
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.eclipse.wizards.DartProjectWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/newprj_wiz.gif"
            id="com.google.dart.eclipse.wizards.newProject"
            name="Dart Project"
            project="true">
            <description>
               Create a new Dart project
            </description>
      </wizard>
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.tools.ui.internal.projects.CreateFileWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/newfile_wiz.gif"
            id="com.google.dart.eclipse.wizards.newFile"
            name="Dart File">
            <description>
               Create a new Dart file
            </description>
      </wizard>
      
      <!-- TODO(pquitslund): the New Application Wizard needs an update     
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.tools.ui.internal.projects.CreateApplicationWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/library_new.png"
            id="com.google.dart.eclipse.wizards.newApplcation"
            name="Dart Application">
            <description>
               Create a new Dart application
            </description>
      </wizard>
      
      -->
      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.google.dart.tools.ui.edit.text.dart.show.outline"
            contextId="com.google.dart.tools.ui.dartEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%dart.perspective.name"
            icon="$nl$/icons/dart_16_16.gif"
            class="com.google.dart.eclipse.ui.internal.DartPerspective"
            id="com.google.dart.tools.ui.DartPerspective">
         <description>
            %dart.perspective.description
         </description>
      </perspective>    
   </extension>


   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%dartPrefName"
            class="com.google.dart.tools.ui.internal.preferences.DartBasePreferencePage"
            id="com.google.dart.tools.ui.preferences.DartBasePreferencePage">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.ui.internal.preferences.DartAnalysisPreferencePage"
            id="com.google.dart.tools.ui.preferences.DartAnalysisPreferencePage"
            name="%analysisPrefName">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.ui.internal.preferences.FontPreferencePage"
            id="com.google.dart.tools.ui.fontOptionsPage"
            name="%dartFontsPrefName">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.ui.internal.preferences.DartKeyBindingPreferencePage"
            id="com.google.dart.tools.ui.preferences.DartKeyBindingPreferencePage"
            name="%dartKeysPrefName">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.debug.ui.internal.preferences.DebugPreferencePage"
            id="com.google.dart.tools.debug.debugPreferencePage"
            name="%debugPrefPageName">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.eclipse.preferences.SdkPreferencePage"
            id="com.google.dart.eclipse.preferences.sdkPreferencePage"
            name="%sdkPrefPageName">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorContentProvider"
            icon="icons/dart_16_16.gif"
            id="com.google.dart.eclipse.ui.navigatorContent"
            labelProvider="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorLabelProvider"
            name="Dart Elements"
            priority="highest">
         <commonWizard
               menuGroupId="com.google.dart.eclipse.wizards.projects"
               type="new"
               wizardId="com.google.dart.eclipse.wizards.newProject">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.google.dart.eclipse.wizards.projects"
               type="new"
               wizardId="com.google.dart.eclipse.wizards.newFile">
            <enablement></enablement>
         </commonWizard>
         <triggerPoints>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="com.google.dart.tools.core.dartNature"/>
            </adapt>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.core.resources.IResource"/>
               <instanceof value="org.eclipse.core.filesystem.IFileStore"/>
            </or>
        </possibleChildren> 
         <commonSorter
               class="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorViewerSorter"
               id="com.google.dart.eclipse.ui.navigatorSorter">
            <parentExpression>
               <or>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <instanceof value="org.eclipse.core.filesystem.IFileStore"/>
               </or>
            </parentExpression>
         </commonSorter>        
        
      </navigatorContent>
   </extension>
   <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension pattern="com.google.dart.eclipse.ui.navigatorContent"/>
        </includes>
     </viewerContentBinding>
   </extension>


  <extension point="org.eclipse.ui.menus">
 
    <menuContribution
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.generate">
       <menu
             label="Dart">
          <visibleWhen>
            <with variable="activeMenuSelection">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
                  <test
                        property="com.google.dart.tools.core.expressions.isAnalyzable">
                  </test>
               </iterate>
           </with>
        </visibleWhen>
          <command
                commandId="com.google.dart.tools.ui.commands.unIgnoreResource"
                label="Analyze"
                style="push">
          </command>
          <command
                commandId="com.google.dart.tools.ui.commands.ignoreResource"
                label="Don&apos;t Analyze"
                style="push">
          </command>
       </menu>
    </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/dart_ovr.gif"
           id="com.google.dart.eclipse.ui.projectNatureImage"
           natureId="com.google.dart.tools.core.dartNature">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="com.google.dart.eclipse.DartEarlyStartup">
     </startup>
  </extension>


</plugin>
