<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.google.dart.eclipse.wizards.projects"
            name="Dart">
      </category>
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.eclipse.wizards.DartProjectWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/newprj_wiz.gif"
            id="com.google.dart.eclipse.wizards.newProject"
            name="Dart Project"
            project="true">
            <description>
               Create a new Dart project
            </description>
      </wizard>
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.tools.ui.internal.projects.CreateFileWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/newfile_wiz.gif"
            id="com.google.dart.eclipse.wizards.newFile"
            name="Dart File">
            <description>
               Create a new Dart file
            </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.eclipse.wizards.ImportFolderWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/newprj_wiz.gif"
            id="com.google.dart.eclipse.ui.wizard.newProjectSource"
            name="Dart Project from Existing Source"
            project="true">
         <description>
            Create a new Dart project from existing source
         </description>
      </wizard>
      
      <!-- TODO(pquitslund): the New Application Wizard needs an update     
      
      <wizard
            canFinishEarly="false"
            category="com.google.dart.eclipse.wizards.projects"
            class="com.google.dart.tools.ui.internal.projects.CreateApplicationWizard"
            finalPerspective="com.google.dart.tools.ui.DartPerspective"
            icon="icons/library_new.png"
            id="com.google.dart.eclipse.wizards.newApplcation"
            name="Dart Application">
            <description>
               Create a new Dart application
            </description>
      </wizard>
      
      -->
      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            sequence="M1+F"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration" />
      <key
            commandId="com.google.dart.tools.ui.edit.text.dart.show.outline"
            contextId="com.google.dart.tools.ui.dartEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <key
            sequence="M1+/"
            contextId="com.google.dart.tools.ui.dartEditorScope"
            commandId="com.google.dart.tools.ui.edit.text.dart.toggle.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key
            sequence="M1+M2+P"
            contextId="com.google.dart.tools.ui.dartEditorScope"
            commandId="com.google.dart.tools.ui.edit.text.dart.goto.matching.bracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M2+M3+R"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           commandId="com.google.dart.tools.ui.edit.text.dart.rename.element"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           platform="carbon"
           sequence="COMMAND+ALT+R"
           commandId="com.google.dart.tools.ui.edit.text.dart.rename.element"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M2+M3+L"
           commandId="com.google.dart.tools.ui.edit.text.dart.extract.local.variable"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M2+M3+M"
           commandId="com.google.dart.tools.ui.edit.text.dart.extract.method"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M2+M3+I"
           commandId="com.google.dart.tools.ui.edit.text.dart.inline"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           platform="carbon"
           sequence="COMMAND+ALT+L"
           commandId="com.google.dart.tools.ui.edit.text.dart.extract.local.variable"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           platform="carbon"
           sequence="COMMAND+ALT+M"
           commandId="com.google.dart.tools.ui.edit.text.dart.extract.method"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           platform="carbon"
           sequence="COMMAND+ALT+I"
           commandId="com.google.dart.tools.ui.edit.text.dart.inline"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!--key
           sequence="M1+M2+T"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           commandId="com.google.dart.eclipse.openType"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/-->
      <key
           sequence="F3"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           commandId="com.google.dart.tools.ui.edit.text.dart.open.editor"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key
           sequence="F4"
           contextId="com.google.dart.tools.ui.dartEditorScope"
           commandId="com.google.dart.tools.ui.edit.text.dart.open.type.hierarchy"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>         
       <key
            sequence="M1+M2+G"
            contextId="com.google.dart.tools.ui.dartEditorScope"
            commandId="com.google.dart.eclipse.ui.open.find.uses"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%dart.perspective.name"
            icon="$nl$/icons/dart_16_16.gif"
            class="com.google.dart.eclipse.ui.internal.DartPerspective"
            id="com.google.dart.tools.ui.DartPerspective">
         <description>
            %dart.perspective.description
         </description>
      </perspective>    
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <viewShortcut id="com.google.dart.tools.debug.objectInspectorView"/>
         <view id="com.google.dart.tools.debug.objectInspectorView"
            relative="org.eclipse.ui.views.ContentOutline"
            relationship="stack"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%dartPrefName"
            class="com.google.dart.tools.ui.internal.preferences.DartBasePreferencePage"
            id="com.google.dart.tools.ui.preferences.DartBasePreferencePage">
      </page>
      <!--
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.ui.internal.preferences.DartAnalysisPreferencePage"
            id="com.google.dart.tools.ui.preferences.DartAnalysisPreferencePage"
            name="%analysisPrefName">
      </page>
      -->
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.debug.ui.internal.preferences.DebugPreferencePage"
            id="com.google.dart.tools.debug.debugPreferencePage"
            name="%debugPrefPageName">
      </page>
      <page
            class="com.google.dart.tools.ui.internal.preferences.ExperimentalPreferencePage"
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            id="com.google.dart.tools.ui.experimentalOptionsPage"
            name="%dartExperimentalPrefName">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.tools.debug.ui.internal.preferences.MobilePreferencePage"
            id="com.google.dart.tools.debug.mobilegPreferencePage"
            name="%mobilePrefPageName">
      </page>
      <page
            name="%dartHintsPrefName"
            class="com.google.dart.tools.ui.internal.preferences.HintPreferencePage"
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            id="com.google.dart.tools.ui.preferences.HintPreferencePage">
      </page>
      <page
            category="com.google.dart.tools.ui.preferences.DartBasePreferencePage"
            class="com.google.dart.eclipse.preferences.SdkPreferencePage"
            id="com.google.dart.eclipse.preferences.sdkPreferencePage"
            name="%sdkPrefPageName">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorContentProvider"
            icon="icons/dart_16_16.gif"
            id="com.google.dart.eclipse.ui.navigatorContent"
            labelProvider="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorLabelProvider"
            name="Dart Elements"
            priority="highest">
         <commonWizard
               menuGroupId="com.google.dart.eclipse.wizards.projects"
               type="new"
               wizardId="com.google.dart.eclipse.wizards.newProject">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.google.dart.eclipse.wizards.projects"
               type="new"
               wizardId="com.google.dart.eclipse.wizards.newFile">
            <enablement></enablement>
         </commonWizard>
         <triggerPoints>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="com.google.dart.tools.core.dartNature"/>      
            </adapt>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.core.resources.IResource"/>
               <instanceof value="org.eclipse.core.filesystem.IFileStore"/>
            </or>
        </possibleChildren> 
         <commonSorter
               class="com.google.dart.eclipse.ui.internal.navigator.DartNavigatorViewerSorter"
               id="com.google.dart.eclipse.ui.navigatorSorter">
            <parentExpression>
               <or>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
                  <instanceof value="org.eclipse.core.filesystem.IFileStore"/>
               </or>
            </parentExpression>
         </commonSorter>
         <commonWizard
               menuGroupId="com.google.dart.eclipse.wizards.projects"
               type="new"
               wizardId="com.google.dart.eclipse.ui.wizard.newProjectSource">
            <enablement></enablement>
         </commonWizard>
        
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            description="Hides projects from pub cache"
            id="com.google.dart.eclipse.ui.commonFilter.pubCacheProjects"
            name="Filter pub cache projects"
            visibleInUI="true">
        <filterExpression>
            <and>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test
                          property="com.google.dart.eclipse.ui.isInPubCache"
                          value="false"/>
                </adapt>
            </and>
        </filterExpression>
    </commonFilter>
   </extension>
   <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension 
              pattern="com.google.dart.eclipse.ui.navigatorContent">
           </contentExtension>
           <contentExtension
              pattern="com.google.dart.eclipse.ui.commonFilter.pubCacheProjects">
           </contentExtension>
        </includes>
     </viewerContentBinding>
   </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.generate">
       <menu
             label="Dart">
          <visibleWhen>
            <with variable="activeMenuSelection">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
           </with>
        </visibleWhen>
          <command
                commandId="com.google.dart.tools.ui.commands.unIgnoreResource"
                label="Analyze"
                style="push">
          </command>
          <command
                commandId="com.google.dart.tools.ui.commands.ignoreResource"
                label="Don&apos;t Analyze"
                style="push">
          </command>
          <!--<command
                commandId="com.google.dart.eclipse.cleanup"
                label="%command.cleanup.name"
                style="push">
          </command>-->
          <separator
                name="com.google.dart.eclipse.ui.separator.generate"
                visible="true">
          </separator>
          <separator
                name="com.google.dart.eclipse.ui.separator.pub"
                visible="true">
          </separator>
          <command
                commandId="com.google.dart.tools.ui.commands.pubInstall"
                label="Pub Get"
                style="push"
                tooltip="Run pub get">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="com.google.dart.tools.ui.commands.pubUpdate"
                label="Pub Upgrade"
                style="push"
                tooltip="Run pub upgrade">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="com.google.dart.tools.ui.commands.pubBuild"
                label="Pub Build"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <iterate>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menu>
    </menuContribution>
     <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.generate">
         <command
               commandId="com.google.dart.tools.ui.commands.pubInstall"
               label="Pub Get"
               style="push"
               tooltip="Run pub get">
                 <visibleWhen
                  checkEnabled="false">
                  <with
                     variable="selection">
                      <and>
                          <count
                                value="1">
                          </count>
                       <iterate>
                        <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="pubspec.yaml">
                          </test>
                       </adapt>
                     </iterate>     
                 </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.google.dart.tools.ui.commands.pubUpdate"
               label="Pub Upgrade"
               style="push"
               tooltip="Run pub upgrade">
                 <visibleWhen
                  checkEnabled="false">
                  <with
                     variable="selection">
                      <and>
                          <count
                                value="1">
                          </count>
                       <iterate>
                        <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="pubspec.yaml">
                          </test>
                       </adapt>
                     </iterate>     
                 </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.google.dart.tools.ui.commands.pubBuild"
               label="Pub Build"
               style="push"
               tooltip="Run pub build">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="pubspec.yaml">
                           </test>
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=emptyLaunchGroup">
         <command commandId="com.google.dart.tools.debug.ui.remoteConnection" />
      </menuContribution>
  </extension>

  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/dart-nature.png"
           id="com.google.dart.eclipse.ui.projectNatureImage"
           natureId="com.google.dart.tools.core.dartNature">
     </image>
  </extension>
  
  <!-- Don't automatically download the SDK
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="com.google.dart.eclipse.DartEarlyStartup">
     </startup>
  </extension> -->

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="welcome/intro.xml">
      </configExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <!--<command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="com.google.dart.eclipse.ui.internal.handlers.OpenTypeDialogHandler"
            description="%command.openType.desc"
            id="com.google.dart.eclipse.openType"
            name="%command.openType.name"/>-->
      <!--<command
            defaultHandler="com.google.dart.eclipse.ui.internal.handlers.CleanupHandler"
            id="com.google.dart.eclipse.cleanup"
            name="%command.cleanup.name">
      </command>-->
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="com.google.dart.eclipse.ui.internal.actions.OpenFeedbackDialogHandler"
            id="com.google.dart.eclipse.sendFeedback"
            name="%action.sendFeedbackAction.label">
      </command>
      <command
            defaultHandler="com.google.dart.eclipse.ui.internal.handler.FindUsesHandler"
            id="com.google.dart.eclipse.ui.open.find.uses"
            name="Find Uses">
      </command> 
   </extension>

   <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="com.google.dart.tools.debug.ui.internal.view.DebuggerPatternMatchListener"
            id="com.google.dart.tools.debug.ui.internal.view.DebuggerPatternMatchListener"
            regex="(\\(.*\\))|(  \\S*.dart .*)">
         <enablement>
            <test property="org.eclipse.ui.console.consoleTypeTest"
                  value="org.eclipse.debug.ui.ProcessConsoleType"/>
         </enablement>
      </consolePatternMatchListener>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.google.dart.eclipse.perspectiveActions"
            label="Navigation">
         <!--<action
               class="com.google.dart.tools.ui.internal.actions.OpenTypeAction"
               definitionId="com.google.dart.eclipse.openType"
               id="com.google.dart.eclipse.openTypeAction"
               label="%action.openType.label"
               menubarPath="navigate/open.ext2"
               style="push">
         </action>-->
      </actionSet>
      
      <actionSet
            id="com.google.dart.eclipse.feedbackActions"
            label="Feedback"
            visible="true">
         <action
               class="com.google.dart.eclipse.ui.internal.actions.OpenFeedbackDialogHandler"
               definitionId="com.google.dart.eclipse.sendFeedback"
               icon="icons/dart_16_16.gif"
               id="com.google.dart.eclipse.sendFeedbackAction"
               label="%action.sendFeedbackAction.label"
               menubarPath="help/helpEnd"
               style="push">
         </action>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.google.dart.eclipse.popupMenus"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.google.dart.eclipse.ui.internal.actions.ToggleDartNatureAction"
               enablesFor="+"
               id="com.google.dart.eclipse.addRemoveNatureAction"
               label="Convert to Dart Project..."
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.google.dart.eclipse.ui.wizards.import"
            name="Dart">
      </category>
      <wizard
            category="com.google.dart.eclipse.ui.wizards.import"
            class="com.google.dart.eclipse.wizards.ImportFolderWizard"
            icon="icons/newprj_wiz.gif"
            id="com.google.dart.eclipse.ui.import.folder"
            name="Existing Source">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.google.dart.eclipse.ui.internal.navigator.PubCacheProjectPropertyTester"
            id="com.google.dart.eclipse.ui.pub.package.propertyTester"
            namespace="com.google.dart.eclipse.ui"
            properties="isInPubCache"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>

</plugin>
