body {
  font-family: 'Slackey', cursive;
  text-align: center;
  background: rgb(180,173,127);
  margin: 0;
  font-size: 16px;
}

#popup {
  font-family: 'Josefin Sans', serif;
  position: relative;
  display: none;
  text-align: center;
  width: 400px;
  background: rgb(247,235,203);
  border: 12px solid rgb(221,212,173);
  margin: 20px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

#popup div {
  margin: 10px;
}

#popup #help p {
  text-align: left;
}

#popup #help img {
  float: left;
  margin-right: 10px;
}

canvas#gameCanvas {
  position: absolute;
}
