<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.google.dart.tools.deploy.DartIDEApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=new.ext">
         <command
               commandId="com.google.dart.tools.ui.file.new"
               icon="$nl$/icons/full/etool16/newfile_wiz.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=open.ext">
         <command 
               commandId="com.google.dart.tools.ui.folder.open"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.command2">
         <toolbar
               id="editor.toolbar">
            <control
               class="com.google.dart.tools.deploy.DartEditorToolbarControlContribution">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=breakpointGroup">
         <command
               commandId="com.google.dart.tools.debug.ui.run.selection"
               icon="icons/full/obj16/run_exc.gif"
               label="%runCommandName"
               style="push"
               tooltip="%runDescription">
         </command>
         <command
               commandId="com.google.dart.tools.debug.ui.run.last.launch"
               label="Always Run Last Launch"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=emptyLaunchGroup">
         <command commandId="com.google.dart.tools.debug.ui.launchDialog" />
         <!-- TODO(devoncarew): enable this once the command-line debugger works remotely -->
         <command commandId="com.google.dart.tools.debug.ui.remoteConnection" />
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?after=runGroup">
         <command
               commandId="com.google.dart.tools.debug.ui.removeBreakpoints"
               style="push"
               icon="icons/full/obj16/rem_all_brk.gif">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
     <key
            commandId="com.google.dart.tools.ui.file.showInFinder"
            sequence="M1+M2+M3+F"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration" />
     <key
            commandId="org.eclipse.ui.file.properties"
            sequence="M3+CR"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration" />
     <key
            commandId="org.eclipse.ui.file.properties"
            platform="cocoa"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+I"/>
     <key
            commandId="org.eclipse.ui.file.properties"
            platform="carbon"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+I"/>
      <key
            commandId="com.google.dart.tools.ui.folder.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+O">
      </key>
       <key
            commandId="com.google.dart.tools.ui.run.script.command"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+M2+F1">
      </key>
       <key
            commandId="com.google.dart.tools.ui.run.script.command"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+M2+F2">
      </key>
       <key
            commandId="com.google.dart.tools.ui.run.script.command"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+M2+F3">
      </key>
       <key
            commandId="com.google.dart.tools.ui.run.script.command"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+M2+F4">
      </key>
       <key
            commandId="com.google.dart.tools.ui.run.script.command"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+M2+F5">
      </key>
      <key
            commandId="com.google.dart.tools.ui.omnibox"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="com.google.dart.tools.debug.ui.run.selection"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="com.google.dart.tools.debug.ui.launchDialog"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M1+SHIFT+M">
      </key>
      <!--key
            commandId="org.eclipse.ui.file.refresh"
            sequence="F5"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration">
      </key-->
      <key
            commandId="org.eclipse.ui.window.activateEditor"
            sequence="F12"
            platform="win32"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.activateEditor"
            sequence="F12"
            platform="gtk"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.activateEditor"
            sequence="M1+F12"
            platform="carbon"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.openEditorDropDown"
            sequence="M1+E"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.nextEditor"
            sequence="M1+F6"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.ui.window.previousEditor"
            sequence="M1+M2+F6"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
      <key
            commandId="com.google.dart.tools.ui.buildClean"
            sequence="M1+M2+M3+B"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"/>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.google.dart.tools.deploy.application"
            name="Dart Editor">
         <property
               name="windowImages"
               value="icons/dart_16x16x32.png,icons/dart_32x32x32.png,icons/dart_48x48x32.png,icons/dart_64x64x32.png,icons/dart_128x128x32.png">
         </property>
         <property
               name="aboutText"
               value="An awesome editor for Dart programming.">
         </property>
         <property
               name="aboutImage"
               value="icons/dart_116_116.gif">
         </property>
         <property
               name="appName"
               value="Dart Editor">
         </property>
         <property
               name="startupProgressRect"
               value="100,350,400,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="B3B3B3">
         </property>
         <property
               name="startupMessageRect"
               value="100,330,400,15">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Dart Development Activities"
            id="com.google.dart.development"
            name="Dart Development">
      </activity>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern=".*org\.eclipse\.debug\.ui\.contextualLaunch\.run\.submenu.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern=".*org\.eclipse\.debug\.ui\.contextualLaunch\.debug\.submenu.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*convertLineDelimiters">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*toggleShowWhitespaceCharacters">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*toggleBlockSelectionMode">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org.eclipse.search/org.eclipse.search.OpenSearchDialog">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*delimiter.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*restartWorkbench">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*cheatsheets.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*update.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.equinox\.p2\.ui\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*toggleInsertMode">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*showInformation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*.helpContents">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*.helpSearch">
      </activityPatternBinding>
      <!-- contributed by org.eclipse.ui.workbench -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\.edit\.findIncremental.*">
      </activityPatternBinding>
      <!-- contributed by org.eclipse.ui.workbench -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\.edit\.text\.gotoLastEditPosition">
      </activityPatternBinding>
      <!-- Added by BasicTextEditorActionContributor -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\.edit\.text\.hippieCompletion">
      </activityPatternBinding>
      <!-- Get rid of default "Open Resource" action -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\..*OpenWorkspaceFile.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\.navigate\.next">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.ui\.navigate\.previous">
      </activityPatternBinding>
      <!-- Get rid of "org.eclipse.compare" actions -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\.compare.*">
      </activityPatternBinding>
      
      <!-- Run/debug property pages -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org\.eclipse\..*defaultLaunchConfigurations">
      </activityPatternBinding>

      <!-- internal web browser contributions -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="org.eclipse.ui.browser/org.eclipse.ui.browser.edito.*">
      </activityPatternBinding>

      <!-- incremental find -->
      <activityPatternBinding
            activityId="com.google.dart.development"
            pattern="com\.xored\.glance\.ui\..*">
      </activityPatternBinding>
   </extension>
   
   <!-- Launch and Debug contributions -->
   
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Dart Launch Activities"
            id="com.google.dart.development.launch"
            name="Dart Launch Activities">
      </activity>

      <activityPatternBinding
            activityId="com.google.dart.development.launch"
            pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.actions.ToggleStepFilters">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.google.dart.development.launch"
            pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.actions.RunToLine">
      </activityPatternBinding>
    </extension>

    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.text"
            file-extensions="js,json,map,md,py,yaml,bat,sql">
      </file-association>      
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			file-extensions="dart"
			priority="high"
			name="Dart"
			id="com.google.dart.tools.dartsource"
			base-type="org.eclipse.core.runtime.text">
		</content-type>
	</extension>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%dart.perspective.name"
            icon="$nl$/icons/full/eview16/dperspective.png"
            class="com.google.dart.tools.ui.DartPerspective"
            id="com.google.dart.tools.ui.DartPerspective">
         <description>
            %dart.perspective.description
         </description>
      </perspective>    
   </extension>
      
   <extension
          point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.google.dart.tools.ui.dart"
            class="com.google.dart.tools.ui.internal.filesview.FilesView"
            icon="icons/full/obj16/file_folder.gif"
            id="com.google.dart.tools.ui.FileExplorer"
            name="Files"
            restorable="true">
      </view>
      <view
             allowMultiple="true"
             category="com.google.dart.tools.ui.dart"
             class="com.google.dart.tools.ui.console.DartConsoleView"
             icon="icons/full/eview16/console_view.gif"
             id="com.google.dart.tools.ui.console"
             name="Output"
             restorable="false">
      </view>
      <view
            name="%problemsViewName"
            category="com.google.dart.tools.ui.dart"
            class="com.google.dart.tools.ui.internal.problemsview.ProblemsView"
            icon="icons/full/eview16/problems_view.gif"
            id="com.google.dart.tools.ui.ProblemsView">
      </view>    
      <view
            class="com.google.dart.tools.debug.ui.internal.view.DebuggerView"
            id="com.google.dart.tools.debug.debuggerView"
            name="Debugger"
            restorable="true"
            category="com.google.dart.tools.ui.dart"
            icon="icons/full/obj16/debug_exc.gif">
      </view>
      <view
            class="com.google.dart.tools.debug.ui.internal.view.BreakpointsView"
            id="com.google.dart.tools.debug.breakpointsView"
            name="Breakpoints"
            restorable="true"
            category="com.google.dart.tools.ui.dart"
            icon="icons/full/obj16/breakpoint_view.gif">
      </view>
   </extension>


   <extension point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="com.google.dart.tools.debug.debuggerView"
            contextId="org.eclipse.debug.ui.debugging">
      </contextViewBinding>
      <contextViewBinding
           viewId="com.google.dart.tools.debug.breakpointsView"
           contextId="org.eclipse.debug.ui.debugging">
      </contextViewBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.google.dart.tools.ui.omni.OmniBoxHandler"
            description="%command.omnibox.description"
            id="com.google.dart.tools.ui.omnibox"
            name="%command.omnibox.name"/> 
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <!--
      <page
            name="%analysisPrefName"
            class="com.google.dart.tools.ui.internal.preferences.DartAnalysisPreferencePage"
            id="com.google.dart.tools.ui.preferences.DartAnalysisPreferencePage">
      </page>
      -->
      <page
            name="%dartPrefName"
            class="com.google.dart.tools.ui.internal.preferences.DartBasePreferencePage"
            id="com.google.dart.tools.ui.preferences.DartBasePreferencePage">
      </page>
      <page
            class="com.google.dart.tools.ui.internal.preferences.FontPreferencePage"
            id="com.google.dart.tools.ui.fontOptionsPage"
            name="%dartFontsPrefName">
      </page>
      <page
            name="%dartHintsPrefName"
            class="com.google.dart.tools.ui.internal.preferences.HintPreferencePage"
            id="com.google.dart.tools.ui.preferences.HintPreferencePage">
      </page>
      <page
            name="%dartKeysPrefName"
            class="com.google.dart.tools.ui.internal.preferences.DartKeyBindingPreferencePage"
            id="com.google.dart.tools.ui.preferences.DartKeyBindingPreferencePage">
      </page>
      <page
            name="%debugPrefPageName"
            class="com.google.dart.tools.debug.ui.internal.preferences.DebugPreferencePage"
            id="com.google.dart.tools.debug.debugPreferencePage">
      </page>
      <page
            name="%mobilePrefPageName"
            class="com.google.dart.tools.debug.ui.internal.preferences.MobilePreferencePage"
            id="com.google.dart.tools.debug.mbilePreferencePage">
      </page>
      <page
            class="com.google.dart.tools.ui.update.UpdatePreferencePage"
            id="com.google.dart.tools.ui.update.updatePreferencePage"
            name="%updatePrefPageName">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="com.google.dart.tools.ui.presentation.DartEditorPresentationFactory"
            id="com.google.dart.tools.ui.presentation"
            name="Dart Editor Presentation">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.dart.tools.ui.internal.text.editor.SimpleTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="$nl$/icons/full/obj16/file_obj.gif"
            id="com.google.dart.tools.ui.text.editor.TextEditor"
            name="%TextFileEditorName"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont">
            <contentTypeBinding contentTypeId="org.eclipse.core.runtime.text" />
      </editor>
      <editor
            class="com.google.dart.tools.ui.internal.intro.IntroEditor"
            default="false"
            icon="icons/dart_16_16.gif"
            id="com.google.dart.tools.ui.intro.editor"
            name="Welcome">
      </editor>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association
            content-type="org.eclipse.core.runtime.text"
            file-names="BUILD"/>
   </extension> 
   
   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association
            content-type="org.eclipse.wst.css.core.csssource"
            file-extensions="ess"/>
   </extension> 
   

   <extension-point id="com.google.dart.tools.ui.theme.mapper" name="Editor Mapping" schema="schema/com.google.dart.tools.ui.theme.mapper.exsd"/>
   <extension-point id="com.google.dart.tools.ui.theme.theme" name="Color Theme" schema="schema/com.google.dart.tools.ui.theme.theme.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.dart.tools.ui.theme.preferences.ThemePreferencePage"
            id="com.google.dart.tools.ui.theme.preferences.ThemePreferencePage"
            name="Visual Theme">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.dart.tools.ui.theme.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="com.google.dart.tools.ui.theme.mapper">
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.TextEditorMapper"
            name="Dart"
            pluginId="com.google.dart.tools.ui"
            xml="mappings/com.google.dart.tools.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.GenericMapper"
            name="Java"
            pluginId="org.eclipse.jdt.ui"
            xml="mappings/org.eclipse.jdt.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.TextEditorMapper"
            name="Text"
            pluginId="org.eclipse.ui.editors"
            xml="mappings/org.eclipse.ui.editors.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.TextEditorMapper"
            name="Debug"
            pluginId="org.eclipse.debug.ui"
            xml="mappings/org.eclipse.debug.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.WebEditorMapper"
            name="CSS"
            pluginId="org.eclipse.wst.css.ui"
            xml="mappings/org.eclipse.wst.css.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.WebEditorMapper"
            name="HTML"
            pluginId="org.eclipse.wst.html.ui"
            xml="mappings/org.eclipse.wst.html.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.GenericMapper"
            name="JavaScript"
            pluginId="org.eclipse.wst.jsdt.ui"
            xml="mappings/org.eclipse.wst.jsdt.ui.xml">
      </mapper>
      <mapper
            class="com.google.dart.tools.ui.theme.mapper.WebEditorMapper"
            name="XML"
            pluginId="org.eclipse.wst.xml.ui"
            xml="mappings/org.eclipse.wst.xml.ui.xml">
      </mapper>
   </extension>

   <extension
         point="com.google.dart.tools.ui.theme.theme">
      <theme
            file="themes/black-pastel.xml">
      </theme>
      <theme
            file="themes/frontenddev.xml">
      </theme>
      <theme
            file="themes/gedit-original-oblivion.xml">
      </theme>
      <theme
            file="themes/havenjark.xml">
      </theme>
      <theme
            file="themes/inkpot.xml">
      </theme>
      <theme
            file="themes/minimal.xml">
      </theme>
      <theme
            file="themes/mr.xml">
      </theme>
      <theme
            file="themes/nightlion-aptana-theme.xml">
      </theme>
      <theme
            file="themes/notepad++-like.xml">
      </theme>
      <theme
            file="themes/oblivion.xml">
      </theme>
      <theme
            file="themes/obsidian.xml">
      </theme>
      <theme
            file="themes/pastel.xml">
      </theme>
      <theme
            file="themes/recogneyes.xml">
      </theme>
      <theme
            file="themes/schuss.xml">
      </theme>
      <theme
            file="themes/sublime-text-2.xml">
      </theme>
      <theme
            file="themes/tango.xml">
      </theme>
      <theme
            file="themes/vibrantink.xml">
      </theme>
      <theme
            file="themes/wombat.xml">
      </theme>
      <theme
            file="themes/zenburn.xml">
      </theme>
      <theme
            file="themes/monokai.xml">
      </theme>
      <theme
            file="themes/roboticket.xml">
      </theme>
      <theme
            file="themes/sunburst.xml">
      </theme>
      <theme
            file="themes/retta.xml">
      </theme>
      <theme
            file="themes/dartboard.xml">
      </theme>
      <theme
            file="themes/default.xml">
      </theme>
      <theme
            file="themes/hotpink.xml">
      </theme>
      <theme
            file="themes/debugging.xml">
      </theme>
      <theme
            file="themes/rainbow.xml">
      </theme>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.google.dart.tools.ui.DartPerspective">
         <actionSet id="com.google.dart.tools.debug.ui.breakpointActionSet"/>
      </perspectiveExtension>
   </extension>
  
  <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
    <!--
    <contentOutlineConfiguration
      class="org.eclipse.wst.jsdt.web.ui.views.provisional.contentoutline.JsContentOutlineConfig"
      target="org.eclipse.wst.html.core.htmlsource.source" /> 
    <quickOutlineConfiguration
      class="org.eclipse.wst.css.ui.views.contentoutline.CSSQuickOutlineConfiguration"
      target="org.eclipse.wst.css.core.csssource" />
      -->
    <sourceViewerConfiguration
      class="com.google.dart.tools.wst.ui.StructuredTextViewerConfigurationDart"
      target="org.eclipse.wst.html.core.htmlsource.source" />
    <provisionalConfiguration
      type="linestyleprovider"
      class="com.google.dart.tools.wst.ui.style.LineStyleProviderForDart"
      target="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
    <documentationTextHover
      class="com.google.dart.tools.wst.ui.taginfo.DartHoverProcessor"
      target="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
    <!--
    <provisionalConfiguration
      type="characterpairmatcher"
      class="com.google.dart.tools.wst.ui.text.DartDocumentRegionEdgeMatcher"
      target="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
      -->
    <provisionalConfiguration
      type="autoeditstrategy"
      class="com.google.dart.tools.wst.ui.autoedit.AutoEditStrategyForDart"
      target="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART,org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
      <!--
    <provisionalConfiguration
      type="org.eclipse.wst.sse.ui.internal.search.FindOccurrencesProcessor"
      class="org.eclipse.wst.jsdt.web.ui.internal.java.search.JsFindOccurrencesProcessor"
      target="org.eclipse.wst.html.SCRIPT,org.eclipse.wst.html.SCRIPT.EVENTHANDLER" />
    <provisionalConfiguration
      type="slaveformattingstrategy"
      class="org.eclipse.wst.jsdt.web.ui.internal.format.FormattingStrategyJSDT"
      target="org.eclipse.wst.html.SCRIPT" />
    -->
  </extension>

  <extension point="org.eclipse.wst.sse.ui.completionProposal">
    <proposalCategory
        id="com.google.dart.tools.wst.ui.ContentAssistProposals"
        name="%dartProposals"
        icon="icons/full/elcl16/codeassist.gif">
    </proposalCategory>
    <proposalComputer
        activate="true"
        categoryId="com.google.dart.tools.wst.ui.ContentAssistProposals"
        class="com.google.dart.tools.wst.ui.contentassist.DartContentAssistant"
        id="com.google.dart.tools.wst.ui.ContentAssistProposals">
        <contentType
            id="org.eclipse.wst.html.core.htmlsource">
        <partitionType
            autoActivationDelegate="com.google.dart.tools.wst.ui.contentassist.DartAutoActivationDelegate"
            id="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART">
        </partitionType>
        <partitionType
            autoActivationDelegate="com.google.dart.tools.wst.ui.contentassist.DartAutoActivationDelegate"
            id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART">
        </partitionType>
      </contentType>
    </proposalComputer>
  </extension>

  <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
    <validator
      scope="partial"
      class="com.google.dart.tools.wst.ui.EmbeddedDartReconcilerHook"
      id="com.google.dart.tools.wst.ui.EmbeddedDartReconcilerHook">
      <contentTypeIdentifier id="org.eclipse.wst.html.core.htmlsource">
        <partitionType id="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART"/>
        <partitionType id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART"/>
      </contentTypeIdentifier>
    </validator>
  </extension>

  <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
    <validator
      scope="partial"
      class="com.google.dart.tools.wst.ui.HtmlReconcilerHook"
      id="com.google.dart.tools.wst.ui.HtmlReconcilerHook">
      <contentTypeIdentifier
        id="org.eclipse.wst.html.core.htmlsource">
        <partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
        <partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
        <partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
        <partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
        <partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
      </contentTypeIdentifier>
    </validator>
  </extension>
  
  <extension point="org.eclipse.wst.sse.core.formatProcessors">
		<processor
        class="com.google.dart.tools.wst.ui.format.DartFormatProcessorImpl"
        contentTypeId="com.google.dart.tools.dartsource">
		</processor>
	</extension>
  
  <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
    <target
      id="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART"
      name="%hyperlink.target.script.name"/>
    <target
      id="org.eclipse.wst.html.SCRIPT.EVENTHANDLER.type.APPLICATION/DART"
      name="%hyperlink.target.eventhandler.name"/>
  </extension>
  
  <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
      class="com.google.dart.tools.wst.ui.hyperlink.DartHyperlinkDetector"
      id="com.google.dart.tools.wst.ui.hyperlink.DartHyperlinkDetector"
      name="%hyperlinkDetector.identifier.name"
      targetId="org.eclipse.wst.html.SCRIPT.type.APPLICATION/DART">
    </hyperlinkDetector>
    <hyperlinkDetector
      class="com.google.dart.tools.wst.ui.hyperlink.ElementHyperlinkDetector"
      id="com.google.dart.tools.wst.ui.hyperlink.ElementHyperlinkDetector"
      name="%hyperlinkDetector.angular.name"
      targetId="org.eclipse.wst.html.core.htmlsource">
    </hyperlinkDetector>
   </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.wst.sse.ui.StructuredTextEditor"
           class="com.google.dart.tools.wst.ui.StructuredTextEditorToPriorityFileAdapterFactory">
        <adapter
              type="com.google.dart.tools.ui.internal.text.dart.DartPrioritySourceEditor">
        </adapter>
     </factory>
  </extension>

  <extension point="org.eclipse.wst.sse.ui.completionProposal">
     <proposalCategory
           icon="icons/full/dart16/angular_16_blue.png"
           id="com.google.dart.tools.wst.ui.proposalCategory.angular"
           name="Angular">
     </proposalCategory>
     <proposalComputer
           activate="false"
           categoryId="com.google.dart.tools.wst.ui.proposalCategory.angular"
           class="com.google.dart.tools.wst.ui.contentassist.AngularCompletionProposalComputer"
           id="com.google.dart.tools.wst.ui.proposalComputer.angular">
        <contentType id="org.eclipse.wst.html.core.htmlsource">
           <partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
        </contentType>
     </proposalComputer>
  </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Refactor - Dart HTML"
            description="Dart HTML refactoring actions"
            id="com.google.dart.tools.wst.ui.category.refactoring"/>
      <command
            categoryId="com.google.dart.tools.wst.ui.category.refactoring"
            description="Change the name of an element."
            id="com.google.dart.tools.wst.ui.rename"
            name="Rename">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.google.dart.tools.wst.ui.rename"
            class="com.google.dart.tools.wst.ui.handlers.RenameHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            platform="win32"
            commandId="com.google.dart.tools.wst.ui.rename"
            contextId="org.eclipse.wst.html.core.htmlsource"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M2+M3+R"/>
      <key
            platform="gtk"
            commandId="com.google.dart.tools.wst.ui.rename"
            contextId="org.eclipse.wst.html.core.htmlsource"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="M2+M3+R"/>
      <key
            platform="carbon"
            commandId="com.google.dart.tools.wst.ui.rename"
            contextId="org.eclipse.wst.html.core.htmlsource"
            schemeId="com.google.dart.tools.dartAcceleratorConfiguration"
            sequence="COMMAND+ALT+R"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.google.dart.tools.wst.ui.refactoring.menu"
               label="Refactor">
            <command
                  commandId="com.google.dart.tools.wst.ui.rename"
                  label="Rename..."
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.wst.html.core.htmlsource.source">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
