<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="buildParticipants" name="Build Participants" schema="schema/buildParticipants.exsd"/>
   <extension-point id="instrumentationLogger" name="Instrumentation Logger" schema="schema/instrumentationLogger.exsd"/>
   
	<extension
			point="org.eclipse.core.resources.natures"
			id="dartNature"
			name="%dart.nature.name">
		<runtime>
			<run class="com.google.dart.tools.core.internal.model.DartProjectNature"/>
		</runtime>
	</extension>

	<extension
			point="org.eclipse.core.resources.builders"
			id="dartBuilder"
			name="%dart.builder.name">
		<builder>
			<run class="com.google.dart.tools.core.internal.builder.DartBuilder"/>
		</builder>
	</extension>
    
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="com.google.dart.tools.core.dartSourceFile"
            name="%dart.contentType.sourceFile.name"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dart"
            default-charset="UTF-8"/>
      <content-type
            id="com.google.dart.tools.core.pubspecFile"
            name="%dart.contentType.pubspecFile.name"
            base-type="org.eclipse.core.runtime.text"
            file-names="pubspec.yaml"
            default-charset="UTF-8"/>
   </extension>

	<extension
			point="org.eclipse.team.core.fileTypes">
		<fileTypes extension="dart" type="text"/>
	</extension>

	<extension id="problem" name="%dart.marker.problem.name" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
		<attribute name="id"/>
		<attribute name="flags"/>
		<attribute name="arguments"/>
		<attribute name="categoryId"/>
	</extension>

  <extension id="hint" name="%dart.marker.hint.problem.name" point="org.eclipse.core.resources.markers">
    <super type="com.google.dart.tools.core.problem"/>
  </extension>

	<extension id="task" name="%dart.marker.task.name" point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.taskmarker"/> 
	    <persistent value="true"/>
	</extension>

   <extension id="issue" name="%dart.marker.issue.name" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension id="buildDartIssue" name="%dart.marker.buildDartIssue.name" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension id="pubspecIssue" name="Pubspec issue marker" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>

  <extension id="angular_warning" name="%angular.marker.warning.name" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <persistent value="true"/>
  </extension>
   
   <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="com.google.dart.tools.core.expressions.DartResourcePropertyTester"
          id="com.google.dart.tools.core.analyzableFilePropertTester"
          namespace="com.google.dart.tools.core.expressions"
          properties="isAnalyzed, isAnalyzable, isIgnored"
          type="java.lang.Object">
    </propertyTester>
   </extension>

   <extension
         point="org.eclipse.core.resources.filterMatchers">
      <filterMatcher
            argumentType="string"
            class="com.google.dart.tools.core.refresh.DartPackagesFolderMatcher"
            id="com.google.dart.tools.core.packagesFolderMatcher"
            name="%dart.packages.matcher.name">
      </filterMatcher>
   </extension>

  <extension
          point="com.google.dart.tools.core.buildParticipants">
       <buildParticipant
             class="com.google.dart.tools.core.pub.PubBuildParticipant"
             id="com.google.dart.tools.core.buildParticipant.pub"
             priority="30">
       </buildParticipant>
       <buildParticipant
             class="com.google.dart.tools.core.internal.builder.BuildDartParticipant"
             id="com.google.dart.tools.core.buildParticipant.buildDart"
             priority="40">
       </buildParticipant>
       <buildParticipant
             class="com.google.dart.tools.core.html.HtmlBuildParticipant"
             id="com.google.dart.tools.core.buildParticipant.html"
             priority="70">
       </buildParticipant>
       <buildParticipant
             class="com.google.dart.tools.core.internal.builder.AnalysisEngineParticipant"
             id="com.google.dart.tools.core.buildParticipant.analysis.engine"
             priority="80">
       </buildParticipant>
  </extension>

</plugin>
