<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="workingCopyOwner" name="Working Copy Owner" schema="schema/workingCopyOwner.exsd"/>
   
	<extension
			point="org.eclipse.core.resources.natures"
			id="dartNature"
			name="%dart.nature.name">
		<runtime>
			<run class="com.google.dart.tools.core.internal.model.DartProjectNature"/>
		</runtime>
	</extension>

	<extension
			point="org.eclipse.core.resources.builders"
			id="dartBuilder"
			name="%dart.builder.name">
		<builder>
			<run class="com.google.dart.tools.core.internal.builder.DartBuilder"/>
		</builder>
	</extension>

	<extension
			point="org.eclipse.core.contenttype.contentTypes">
		<content-type
				id="dartSourceFile"
				name="%dart.contentType.sourceFile.name"
				base-type="org.eclipse.core.runtime.text"
				priority="high"
				file-extensions="dart"/>
	</extension>

	<extension
			point="org.eclipse.team.core.fileTypes">
		<fileTypes extension="dart" type="text"/>
	</extension>

	<extension id="problem" name="%dart.marker.problem.name" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
		<attribute name="id"/>
		<attribute name="flags"/>
		<attribute name="arguments"/>
		<attribute name="categoryId"/>
	</extension>   

	<extension id="task" name="%dart.marker.task.name" point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.taskmarker"/> 
	    <persistent value="true"/>
	</extension>

   <extension
         point="com.google.dart.indexer.indexerExtensions">
      <processor
            class="com.google.dart.tools.core.internal.indexer.contributor.DartProcessor"
            contributorType="com.google.dart.tools.core.internal.indexer.contributor.DartContributor"
            extensions="dart"
            id="com.google.indexer.processor.dart"
            version="1">
      </processor>

      <layer
            class="com.google.dart.indexer.index.layers.reverse_edges.ReverseEdgesLayer"
            id="com.google.indexer.layer.dart.elementsByCategory">
      </layer>
      <layer
            class="com.google.dart.indexer.index.layers.reverse_edges.ReverseEdgesLayer"
            id="com.google.indexer.layer.dart.fieldReferences">
      </layer>
      <layer
            class="com.google.dart.indexer.index.layers.reverse_edges.ReverseEdgesLayer"
            id="com.google.indexer.layer.dart.functionReferences">
      </layer>
      <layer
            class="com.google.dart.indexer.index.layers.reverse_edges.ReverseEdgesLayer"
            id="com.google.indexer.layer.dart.methodOverride">
      </layer>
      <layer
            class="com.google.dart.indexer.index.layers.bidirectional_edges.BidirectionalEdgesLayer"
            id="com.google.indexer.layer.dart.typeHierarchy">
      </layer>
      <layer
            class="com.google.dart.indexer.index.layers.reverse_edges.ReverseEdgesLayer"
            id="com.google.indexer.layer.dart.typeReferences">
      </layer>

      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.ElementsByCategoryContributor"
            id="com.google.indexer.contributor.dart.elementsByCategory"
            layerId="com.google.indexer.layer.dart.elementsByCategory"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.FieldAccessContributor"
            id="com.google.indexer.contributor.dart.fieldReferences"
            layerId="com.google.indexer.layer.dart.fieldReferences"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.MethodInvocationContributor"
            id="com.google.indexer.contributor.dart.functionReferences"
            layerId="com.google.indexer.layer.dart.functionReferences"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.MethodOverrideContributor"
            id="com.google.indexer.contributor.dart.methodOverride"
            layerId="com.google.indexer.layer.dart.methodOverride"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.TypeHierarchyContributor"
            id="com.google.indexer.contributor.dart.typeHierarchy"
            layerId="com.google.indexer.layer.dart.typeHierarchy"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
      <contributor
            class="com.google.dart.tools.core.internal.indexer.contributor.TypeReferencesContributor"
            id="com.google.indexer.contributor.dart.typeReferences"
            layerId="com.google.indexer.layer.dart.typeReferences"
            processorId="com.google.indexer.processor.dart"
            version="1">
      </contributor>
   </extension>

</plugin>
