<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.google.dart.tools.ui.web.css.CssEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="css,scss,less"
            icon="icons/file_obj.gif"
            id="com.google.dart.tools.ui.web.css.CSSEditor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart CSS Editor"
            default="true">
      </editor>

      <editor
            class="com.google.dart.tools.ui.web.xml.XmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/doc_section_obj.gif"
            id="com.google.dart.tools.ui.web.xml.XmlEditor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart XML Editor"
            default="true">
      </editor>

      <editor
            class="com.google.dart.tools.ui.web.html.HtmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="html,htm"
            icon="icons/htmlfile.png"
            id="com.google.dart.tools.ui.web.html.HtmlEditor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart HTML Editor"
            default="true">
      </editor>

      <editor
            class="com.google.dart.tools.ui.web.yaml.YamlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="yaml"
            icon="icons/pubspec.png"
            id="com.google.dart.tools.ui.web.yaml.YamlEditor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart Yaml Editor"
            default="true">
      </editor>
      
      <editor
            class="com.google.dart.tools.ui.web.pubspec.PubspecEditor"
            default="true"
            filenames="pubspec.yaml"
            icon="icons/pubspec.png"
            id="com.google.dart.tools.ui.editor.pubspec"
            name="Pubspec Editor">
      </editor>
      
      <editor
            class="com.google.dart.tools.ui.web.json.JsonEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            filenames="manifest.json"
            icon="icons/manifest.png"
            id="com.google.dart.tools.ui.web.json.JsonEditor.chrome"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart Manifest Editor"
            default="true">
      </editor>
      
      <editor
            class="com.google.dart.tools.ui.web.json.JsonEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="json"
            icon="icons/file_obj.gif"
            id="com.google.dart.tools.ui.web.json.JsonEditor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart JSON Editor"
            default="true">
      </editor>
      
      <editor
            class="com.google.dart.tools.ui.web.json.JsonEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="map"
            icon="icons/map_file.png"
            id="com.google.dart.tools.ui.web.json.JsonEditor.map"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont"
            name="Dart Source Map Editor"
            default="true">
      </editor>
      <editor
            class="com.google.dart.tools.ui.web.yaml.PubspecYamlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="yaml"
            icon="icons/pubspec.png"
            id="com.google.dart.tools.ui.editor.pubspec.yaml"
            name="Pubspec yaml editor"
            symbolicFontName="com.google.dart.tools.ui.editors.textfont">
      </editor>
   </extension>
   
   <!-- JSON extensions -->
   
   <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
         id="com.google.dart.tools.ui.web.json.hyperlinkTarget"
         name="JSON Hyperlink Target">

         <context type="org.eclipse.ui.texteditor.ITextEditor"/>
      </target>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="com.google.dart.tools.ui.web.json.JsonHyperlinkDetector"
            id="com.google.dart.tools.ui.web.json.hyperlinkDetector"
            name="JSON Hyperlink Detector"
            targetId="com.google.dart.tools.ui.web.json.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   
</plugin>
